/*
 *
 * MMM-NextCloud-Tasks
 *
 * Jan Ryklikas
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-NextCloud-Tasks-wrapper {
    color: white;
    font-size: 20px;
    line-height: 2rem;
    text-align: left;
}

.MMM-NextCloud-Tasks-wrapper ul {
    list-style: none;
    padding-left: 10px;
}

.MMM-NextCloud-Tasks-wrapper > ul {
    padding: 0;
}
