/* eslint-disable indent */
module.exports = {
    listUrl: "<NEXTCLOUD_TASKS_PRIVATE_LINK>",
    sortMethod: "<SORT_METHOD>",
    webDavAuth: {
        username: "<NEXTCLOUD_APP_USERNAME>",
        password: "<NEXTCLOUD_APP_PASSWORD>",
    }
}
